In [29]:
import numpy as np
import pandas as pd
import seaborn as sn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler   # 数据归一化
from sklearn.model_selection import train_test_split  # 划分训练集和测试集
import matplotlib.pyplot as plt

In [31]:
housing = pd.read_csv(fr'C:\Users\shifeng.du\Desktop\github\sklearn-model\data\Linear Regression\kc_train.csv', header = None)
housing.columns = ['date','price','bedroom','bath','room_area','car_area','floor','score','floor_area','basement_area','construction_year',
                   'restore_year','latitude','longitude']
housing
y = housing.loc[:,['price']]
x = housing.drop(columns='price')

In [32]:
'''特征缩放----归一化'''



'''这里测试集应该划分出验证集和测试集。。。。。'''
minmax_scaler = MinMaxScaler()
minmax_scaler.fit(x)
scaler_housing = minmax_scaler.transform(x)
scaler_housing = pd.DataFrame(scaler_housing, columns=x.columns)
scaler_housing

,date,bedroom,bath,room_area,car_area,floor,score,floor_area,basement_area,construction_year,restore_year,latitude,longitude
0,0.977556,0.3,0.290323,0.134737,0.003434,0.0,0.5,0.100354,0.089212,0.643478,0.0,0.779557,0.337209
1,0.968479,0.4,0.322581,0.306316,0.006023,0.4,0.7,0.343566,0.000000,0.730435,0.0,0.765001,0.401163
2,0.958105,0.3,0.419355,0.294737,0.002854,0.4,0.6,0.330579,0.000000,0.930435,0.0,0.637393,0.429402
3,0.059950,0.5,0.322581,0.264211,0.005423,0.4,0.6,0.296340,0.000000,0.773913,0.0,0.622513,0.316445
4,0.010075,0.5,0.354839,0.173684,0.004190,0.0,0.4,0.095632,0.174274,0.600000,0.0,0.921236,0.288206
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.061746,0.4,0.322581,0.168421,0.002992,0.4,0.5,0.188902,0.000000,0.817391,0.0,0.322174,0.272425
9996,0.050274,0.4,0.322581,0.201053,0.001971,0.4,0.4,0.225502,0.000000,0.973913,0.0,0.323629,0.362957
9997,0.051072,0.4,0.451613,0.438947,0.024875,0.4,0.6,0.446281,0.080913,0.826087,0.0,0.646288,0.334718
9998,0.011771,0.6,0.548387,0.685263,0.147896,0.4,0.6,0.523022,0.431535,0.886957,0.0,0.956332,0.421096
9999,0.968379,0.2,0.129032,0.042105,0.002773,0.0,0.3,0.047226,0.000000,0.417391,0.0,0.636422,0.205150

In [37]:
x_train, x_verify, y_train, y_verify = train_test_split(scaler_housing, y, test_size=0.2, random_state=42)
x_train

,date,bedroom,bath,room_area,car_area,floor,score,floor_area,basement_area,construction_year,restore_year,latitude,longitude
9254,0.019850,0.4,0.322581,0.201368,0.001971,0.4,0.5,0.225856,0.000000,0.921739,0.000000,0.269287,0.294020
1561,0.979052,0.4,0.322581,0.190632,0.005434,0.4,0.5,0.213813,0.000000,0.921739,0.000000,0.389617,0.167774
1670,0.012469,0.4,0.129032,0.105263,0.010557,0.0,0.4,0.118064,0.000000,0.478261,0.999007,0.370694,0.195183
6087,0.000499,0.3,0.258065,0.154737,0.007755,0.0,0.5,0.173554,0.000000,0.739130,0.000000,0.615235,0.386213
6669,0.011771,0.5,0.322581,0.190526,0.002125,0.2,0.4,0.121606,0.161826,0.139130,0.000000,0.853793,0.140365
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,0.988030,0.4,0.193548,0.146316,0.001544,0.2,0.5,0.164109,0.000000,0.226087,0.000000,0.646288,0.211794
5191,0.977656,0.2,0.258065,0.103158,0.004451,0.0,0.5,0.066116,0.087137,0.426087,0.000000,0.808022,0.101329
5390,0.041596,0.4,0.322581,0.222105,0.005502,0.0,0.5,0.170012,0.139004,0.686957,0.000000,0.249717,0.146179
860,0.022045,0.4,0.129032,0.064211,0.003975,0.0,0.3,0.072019,0.000000,0.373913,0.000000,0.534368,0.231728
7270,0.022045,0.3,0.193548,0.172632,0.008377,0.0,0.4,0.108619,0.149378,0.600000,0.000000,0.169174,0.194352

In [42]:
LR_reg = LinearRegression()
LR_reg.fit(x_train, y_train)

preds = LR_reg.predict(x_verify)
mse = mean_squared_error(preds, y_verify)

print(mse)
# plt.figure(figsize = (10,7))
# num = 200
# x = np.arange(1,num + 1)
# plt.plot(x, y_train[:num], label = 'target')
# plt.plot(x, preds[:num], label = 'preds')
# plt.legend(loc = 'upper left')
# plt.show()

42372952179.41636

In [44]:
'''预测'''
test = pd.read_csv(fr'C:\Users\shifeng.du\Desktop\github\sklearn-model\data\Linear Regression\kc_test.csv',header = None)
test.columns = x_train.columns

minmax_scaler_test = MinMaxScaler()
minmax_scaler_test.fit(test)
scaler_test = minmax_scaler_test.transform(test)
scaler_test = pd.DataFrame(scaler_test, columns=test.columns)

result = LR_reg.predict(scaler_test)
test_result = pd.concat([test, pd.DataFrame(result).rename(columns={0:'price'})], axis= 1)
test_result

,date,bedroom,bath,room_area,car_area,floor,score,floor_area,basement_area,construction_year,restore_year,latitude,longitude,price
0,20140502,2,1.00,880,6380,1.0,7,880,0,1938,1994,47.6924,-122.322,4.121257e+05
1,20150213,4,2.50,2880,8833,2.0,7,2880,0,2006,0,47.5388,-121.890,5.002847e+05
2,20141215,4,2.50,1980,5020,2.0,7,1980,0,2007,0,47.5147,-122.190,2.775141e+05
3,20140617,3,2.50,2830,6536,2.0,9,2830,0,1989,0,47.7462,-122.172,9.562417e+05
4,20150410,3,1.75,1900,13600,1.0,8,1900,0,1956,0,47.6163,-122.219,6.409836e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,20150209,3,1.00,1200,10800,1.0,7,1200,0,1955,0,47.5771,-122.144,2.759674e+05
2996,20140916,4,1.75,2120,4000,1.5,8,1920,200,1929,0,47.6601,-122.275,7.379622e+05
2997,20140609,3,1.75,1240,8050,1.0,7,1240,0,1978,0,47.6108,-122.044,2.284547e+05
2998,20141030,3,2.50,2990,10711,1.0,9,1560,1430,1976,1991,47.3573,-122.324,1.015013e+06
2999,20140811,4,2.25,4220,24186,1.0,8,2600,1620,1984,0,47.4450,-122.347,1.092159e+06

In [45]:
'''
总代码
损失函数为MSE
'''
import numpy as np
import pandas as pd
import seaborn as sn         # 这个如何使用？？？
from sklearn.linear_model import LinearRegression  #线性模型
from sklearn.metrics import mean_squared_error  #模型评价MSE
from sklearn.preprocessing import MinMaxScaler   # 数据归一化
from sklearn.model_selection import train_test_split  # 划分训练集和测试集

housing = pd.read_csv(fr'C:\Users\shifeng.du\Desktop\github\sklearn-model\data\Linear Regression\kc_train.csv', header = None)
housing.columns = ['date','price','bedroom','bath','room_area','car_area','floor','score','floor_area','basement_area','construction_year',
                   'restore_year','latitude','longitude']
housing
y = housing.loc[:,['price']]
x = housing.drop(columns='price')

minmax_scaler = MinMaxScaler()
minmax_scaler.fit(x)
scaler_x = minmax_scaler.transform(x)
scaler_x = pd.DataFrame(scaler_x, columns=x.columns)
scaler_x

x_train, x_verify, y_train, y_verify = train_test_split(scaler_housing, y, test_size=0.2, random_state=42)
LR_reg = LinearRegression()
LR_reg.fit(x_train, y_train)

preds = LR_reg.predict(x_verify)
mse = mean_squared_error(preds, y_verify)

'''预测'''
test = pd.read_csv(fr'C:\Users\shifeng.du\Desktop\github\sklearn-model\data\Linear Regression\kc_test.csv',header = None)
test.columns = x_train.columns

minmax_scaler_test = MinMaxScaler()
minmax_scaler_test.fit(test)
scaler_test = minmax_scaler_test.transform(test)
scaler_test = pd.DataFrame(scaler_test, columns=test.columns)

result = LR_reg.predict(scaler_test)
test_result = pd.concat([test, pd.DataFrame(result).rename(columns={0:'price'})], axis= 1)

test_result

,date,bedroom,bath,room_area,car_area,floor,score,floor_area,basement_area,construction_year,restore_year,latitude,longitude,price
0,20140502,2,1.00,880,6380,1.0,7,880,0,1938,1994,47.6924,-122.322,4.121257e+05
1,20150213,4,2.50,2880,8833,2.0,7,2880,0,2006,0,47.5388,-121.890,5.002847e+05
2,20141215,4,2.50,1980,5020,2.0,7,1980,0,2007,0,47.5147,-122.190,2.775141e+05
3,20140617,3,2.50,2830,6536,2.0,9,2830,0,1989,0,47.7462,-122.172,9.562417e+05
4,20150410,3,1.75,1900,13600,1.0,8,1900,0,1956,0,47.6163,-122.219,6.409836e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,20150209,3,1.00,1200,10800,1.0,7,1200,0,1955,0,47.5771,-122.144,2.759674e+05
2996,20140916,4,1.75,2120,4000,1.5,8,1920,200,1929,0,47.6601,-122.275,7.379622e+05
2997,20140609,3,1.75,1240,8050,1.0,7,1240,0,1978,0,47.6108,-122.044,2.284547e+05
2998,20141030,3,2.50,2990,10711,1.0,9,1560,1430,1976,1991,47.3573,-122.324,1.015013e+06
2999,20140811,4,2.25,4220,24186,1.0,8,2600,1620,1984,0,47.4450,-122.347,1.092159e+06